﻿<html>
 <head>
 	<title>Калибровка уверенности</title>
 </head>
 <body text="black" bgcolor="#F5F5DC">

 	<div>
 	    <h2 ajign="center"> <b> Первый блок вопросов </b></h2>
 	</div>
 		
 	<div>
 		<h3 align="left"> <b>Вам нужно будет определить, является ли утверждение верным или не верным. И указать вашу уверенность в процентах от 50 до 100. </b></h3>
 	</div>

    <form method="post" action="{%  url 'update_result' session_id %}">
 		<ol>
 		{% for quest in questions %}
 			<li><h3> {{quest.question}} </h3></li>
 			<div>
		    	<input type="radio" name="answer_{{quest.num}}" value="true">верно
            	<input type="radio" name="answer_{{quest.num}}" value="false">не верно <br>
            	<label for="user_confidence{{quest.num}}">Уверенность: </label>
                <input id="user_confidence" type="text" name="user_confidence_{{quest.num}}" maxlength="10" value = 0 ><br>
 			</div>
 		{%endfor%}
 		</ol>
 		<input type="submit" value="ОТПРАВИТЬ">
        {% csrf_token %} 
  	</form>

</body>
</html>