﻿
{% block content %}
<body text="black" bgcolor="#FFF0F5">
	<div>
 		<h1 align="center"> <em>История тестов</em> </FONT> </h1>
 	</div>
    <p>Вернуться в <a href="{% url 'home' %}">главное меню</a> </p>
 	<div>
 		{% for session in sessions %}
 		    <div>
				<h2 align="left"> <b>Тест № {{session.num_test}} </b></h2>
                <h3 align="left"> <em>Дата прохождения теста: {{session.date}} </em></h3>
            </div>
            
            {% for question in session.questions %}
                <div>
            		<h3>{{question.num_quest}}. Вопрос: {{question.question}} </h3>
            		Правильный ответ: {{question.right_answer}} ; <br>
            		Ваш ответ: {{question.user_answer}} ; <br>
                    {% if session.flag %}
                	   Ваша уверенность: {{question.user_confidence}} %; <br>
                    {% endif %}
                </div>
			{%endfor%}  
         
            <div>
                {% if not session.flag %}
                    <h3 align="left"> <b> Результат теста: ваша реальная уверенность = {{session.real_confidence}} %.</b></h3>
                {% else %}
                    <h3 align="left"> <b> Результат теста: указанная вами уверенность = {{session.specified_confidence}} %;</b></h3>
                    <h3 align="left"> <b> Ваша реальная уверенность = {{session.real_confidence}} %.</b></h3>
                {% endif %}
            </div>
            
		{%endfor%}
 	</div>
{% endblock %}