﻿{% block content %}

<body text="black" bgcolor="#7FFFD4">



    <p>Вернуться в <a href="{% url 'home' %}">главное меню</a> </p>
    {% if flag %}

	    <div>
		    <h2 align="left"> <b>Результаты последнего теста</b></h2>
            <h3 align="left"> <em>Дата прохождения теста: {{date}} </em></h3>
        </div>

        {% for question in questions %}
            <div>
                <h3>{{question.num_quest}}. Вопрос: {{question.question}} </h3>
                Правильный ответ: {{question.right_answer}} ; <br>
                Ваш ответ: {{question.user_answer}} ; <br>
                {% if spec %}
                    Ваша уверенность: {{question.user_confidence}} %; <br>
                {% endif %}
            </div>
	    {%endfor%}  
         
            <div>
                {% if not spec %}
         	        <h3 align="left"> <b> Результат теста: ваша реальная уверенность = {{real_confidence}} %.</b></h3>
                {% else %}
                    <h3 align="left"> <b> Результат теста: указанная вами уверенность = {{spec_confidence}} %;</b></h3>
                    <h3 align="left"> <b> Ваша реальная уверенность = {{real_confidence}} %.</b></h3>
                {% endif %}
            </div>

    {% else %}

        <div>
            <h2 align="left"> <b>К сожалению, вы не прошли ни одного теста.</b></h2>
        </div>



    {% endif %}
{% endblock %}