﻿{% block content %}
<body text="black" bgcolor="#C1FFC1">
<br>
<h3>Выберите блок вопросов:</h3>
	<a href="{% url 'first' %}"><h2> <b> Первый блок вопросов </b></h2></a>
	<a href="{% url 'second' %}"><h2> <b> Второй блок вопросов </b></h2></a>
{% endblock %}