﻿{% block content %}
<body text="black" bgcolor="#8FBC8F">
    <p>Дата прохождения теста: {{date}} </p>
    <p>Указанная вами уверенность: {{ specified_confidence }} %</p>
	<p>Ваша реальная уверенность: {{ real_confidence }} %</p>
	<p>Пройти еще один <a href="{% url 'questions_home' %}">тест</a> </p>
	<p>Вернуться в <a href="{% url 'home' %}">главное меню</a> </p>
{% endblock %}