﻿{% block content %}
<bode text="black" bgcolor="#F0FFF0">
    <p>Дата прохождения теста: {{date}} </p>
	<p>Ваша реальная уверенность: {{ confidence }} %</p>
	<p>Пройти еще один <a href="{% url 'questions_home' %}">тест</a> </p>
	<p>Вернуться в <a href="{% url 'home' %}">главное меню</a> </p>
{% endblock %}