﻿<html>
 <head>
 	<title>Калибровка уверенности</title>
 </head>
 <body text="black" bgcolor="#D8BFD8">

 	<div>
 	    <h2 ajign="center"> <b> Второй блок вопросов </b></h2>
 	</div>

 	<div>
 		<h3 align="left"> <b>Вам нужно указать 90% интервал, в который, по вашему мнению попадает правильный ответ.</b></h3>
 	</div>

 	<form method="post" action="{%  url 'update_result_2' session_id %}">
 	<ol>
 		{% for quest in questions %}
 			<li><h3> {{quest.item}} </h3></li>
 			<div>
 				<label for="user_before{{quest.number}}">От: </label>
                <input id="user_before" type="text" name="user_before_{{quest.number}}" maxlength="10" >
		    	<label for="user_after">До: </label>
                <input id="user_after" type="text" name="user_after_{{quest.number}}" maxlength="10" ><br>
 			</div>
 		{%endfor%}
 		</ol>
 		<input type="submit" value="ОТПРАВИТЬ">
        {% csrf_token %} 
  	</form>

</body>
</html>