﻿<html>
 <head>
 	<title>Калибровка уверенности</title>
 </head>
 <body text="black" bgcolor="#FFF8DC">

 	<div>
 	    <h2 ajign="center"> <b> Первый блок вопросов </b></h2>
 	</div>
 		
 	<div>
 		<h3 align="left"> <b>Вам нужно будет определить, является ли утверждение верным или не верным. И указать вашу уверенность в процентах от 50 до 100. </b></h3>
 	</div>

    <form method="post">
 		<ol>
 		{% for quest in questions %}
 			<li><h3> {{quest.question}} </h3></li>
 			<div>
 			    <ol>
 			    	{% for error in quest.errors %}
                		<li style="color: red;">{{ error }}</li>
            		{% endfor %}
            	</ol>
            	    {% if quest.answer == "true" %}
                        <input type="radio" name="answer_{{quest.num}}" value="true" checked>верно
            	        <input type="radio" name="answer_{{quest.num}}" value="false">не верно <br>
                    {% endif %}

                    {% if quest.answer == "false" %}
                        <input type="radio" name="answer_{{quest.num}}" value="true">верно
                        <input type="radio" name="answer_{{quest.num}}" value="false" checked>не верно <br>
                    {% endif %}

                    {% if not quest.answer %}
                        <input type="radio" name="answer_{{quest.num}}" value="true">верно
                        <input type="radio" name="answer_{{quest.num}}" value="false">не верно <br>
                    {% endif %}

            	    <label for="user_confidence{{quest.num}}">Уверенность: </label>
                    <input id="user_confidence" type="text" name="user_confidence_{{quest.num}}" maxlength="10" value = {{quest.confidence}}><br>

 			</div>
 		{%endfor%}
 		</ol>
 		<input type="submit" value="ОТПРАВИТЬ">
        {% csrf_token %} 
  	</form>

</body>
</html>