﻿<html>
 <head>
 	<title>Калибровка уверенности</title>
 </head>
 <body text="black" bgcolor="#F0FFF0">

 	<div>
 	    <h2 ajign="center"> <b> Второй блок вопросов </b></h2>
 	</div>

 	<div>
 		<h3 align="left"> <b>Вам нужно указать 90% интервал, в который, по вашему мнению попадает правильный ответ.</b></h3>
 	</div>

 	<form method="post">
 	<ol>
 		{% for quest in questions %}
 			<li><h3> {{quest.question}} </h3></li>
 			<div>
 				<ol>
 			    	{% for error in quest.errors %}
                		<li style="color: red;">{{ error }}</li>
            		{% endfor %}
            	</ol>

 				<label for="user_before{{quest.num}}">От: </label>
                <input id="user_before" type="text" name="user_before_{{quest.num}}" maxlength="10" value = {{quest.before}} >
		    	<label for="user_after{{quest.num}}">До: </label>
                <input id="user_after" type="text" name="user_after_{{quest.num}}" maxlength="10" value = {{quest.after}}><br>
 			</div>
 		{%endfor%}
 		</ol>
 		<input type="submit" value="ОТПРАВИТЬ">
        {% csrf_token %} 
  	</form>

</body>
</html>