﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Confidence Calibration</title>
</head>
<body text="black" bgcolor="#B0E2FF" background="jump.jpg">
<h3><font color="black"><p>

    {% if user.is_authenticated %}
        <div id="menu">
            <div></div>
            <div>
                Добро пожаловать, <strong>{{ request.user.username }}</strong>!
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

</p></font></h3>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>

<h4><font color="black"><p ALIGN="center"><b><i>КФУ ИВМиИТ 2017</i></b></p></font></h4>

</body>
</html>