﻿{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Ваш последний <a href="{% url 'last_result' %}">результат</a></p>
        <p>Посмотреть историю тестов <a href="{% url 'history' %}">История тестов</a> </p>
        <p>Пройти еще один <a href="{% url 'questions_home' %}">тест</a> </p>
    {% else %}
        Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.<br>
        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a><br>
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a><br>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a><br>
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">Login with VK</a><br>
        <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login with Github</a><br>
    {% endif %}
{% endblock %}